body {
  overflow: hidden;
  height: calc(100vh - 1em);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em auto;
  gap: 1em;
  grid-template-areas:
    'header header'
    'left right';
}

header {
  grid-area: header;
}

.left {
  grid-area: left;
  position: relative;
}
.right {
  grid-area: right;
  position: relative;
}
.error {
  border: 2px solid #f00;
  background-color: #f003;
  text-align: center;
  inset: 0;
  position: absolute;
}
