<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components</title>
    <style>
      div {
        font-family: monospace;
        font-size: 1.5rem;
        margin: 1rem 2rem;
      }
      body > div {
        margin: 2rem;
        padding: 1rem;
        border: 1px solid #000;
      }
    </style>
  </head>
  <body>
    <h1>Micro-FrontEnd Components</h1>
    <h2>Components Index</h2>
    <ul>
      <li>MFE-COMP: Generic MFE Component</li>
      <li>
        REMOTE-APP: MFE container for an iframe tin which to load a remote
        application.
      </li>
    </ul>

    <h2>Manifest</h2>
    <div>
      {
      <div>
        "&lt;TARGET&gt;": {
        <div>"type": "&lt;TYPE&gt;",</div>
        <div>"url": "&lt;URL&gt;",</div>
        <div>
          "attribs": {
          <div>&lt;ATTRIBUTES&gt;</div>
          }
        </div>
        },
      </div>
      <div>:</div>
      }
    </div>
  </body>
</html>
